/* Types colors */
.grass {
  background-color: #5dbe62;
}

.water {
  background-color: #559edf;
}

.fire {
  background-color: #f8a54f;
}

.ice {
  background-color: #7ed4c9;
}

.rock {
  background-color: #cec18c;
}

.fairy {
  background-color: #ef97e6;
}

.dragon {
  background-color: #0773c7;
}

.bug {
  background-color: #9dc130;
}

.ghost {
  background-color: #6970c5;
}

.dark {
  background-color: #5f606d;
}

.ground {
  background-color: #d78555;
}

.electric {
  background-color: #edd53f;
}

.normal {
  background-color: #9a9da1;
}

.fighting {
  background-color: #d94256;
}

.poison {
  background-color: #b563ce;
}

.steel {
  background-color: #5596a4;
}

.flying {
  background-color: #9bb4e8;
}

.psychic {
  background-color: #f87c7a;
}
